<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <center>
        <h1>Add</h1>
        <form method="post" action="/crud/createUser">
            Name : <input type="text" name="name">
            Phone : <input type="text" name="phone">
            <input type="submit">
        </form><br>
        <a href="/view">Add</a>
    </center>
</body>

</html>